//======================================================================
// Responsive styles for min-width: 768px
//======================================================================
@import "base/variables";
body {
  font-size: 2rem;
}
h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}
.contact-form {
  .input-group {
    display: flex;
    gap: 15px;
  }
  button,
  .button {
    min-width: 150px;
    margin-left: auto;
  }
}
.header{
  &__brand span {
    display: block;
  }
  &__nav ul a {
    padding: 12px;
  }
}
.hero {
  &__details h1 {
    font-size: $h1;
  }
  &__details p {
    text-align: left;
  }
  &__img-container {
    display: block;
    margin-left: 15px;
  }
  &__social-links {
    font-size: 1.8rem;
    &__name {
      font-size: 1.5rem;
    }
  }
}
.posts {
  .section-title {
    a {
      font-size: 1.6rem;
      padding: 8px;
    }
  }
  &__filter-buttons {
    li {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    button,
    .button {
      padding: 8px;
    }
  }
  .post {
    h3 {
      font-size: $h3;
    }
  }
}
.post {
  &__details {
    text-align: left;
    &__title {
      font-size: $h1;
    }
  }
}
.error-page {
  flex-direction: row;
  &__image {
    flex: 50%;
    max-width: 540px;
    height: 350px;
  }
  &__details {
    flex: 50%;
    margin-top: 0;
    margin-left: 50px;
  }
}
.footer {
  &__container {
    flex-direction: row;
    justify-content: space-between;
  }
  &__copyright {
    font-size: 2rem;
  }
}