//======================================================================
// Hero
//======================================================================
.hero {
  display: flex;
  align-items: center;
  &__details {
    text-align: center;
    flex: 2 1;
    h1 {
      font-size: 2.2rem;
    }
    p {
      margin: 20px 0;
    }
  }
  &__social-links {
    display: flex;
    list-style: none;
    font-size: 2rem;
    a {
      display: flex;
      align-items: center;
      margin-right: 15px;
      padding: 8px;
      border-radius: 4px;
      color: white;
      background-color: #64518f;
    }
    &__name {
      margin-left: 10px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  &__img-container {
    display: none;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }
}