.pagination {
  display: flex;
  justify-content: center;
  list-style: none;

  .pagination__link {
    position: relative;
    display: block;
    padding: 0.8rem 1.2rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: white;
    border: 1px solid $brand-color;
    color: $brand-color;
    &.active {
      background-color: $brand-color;
      color: white;
    }
  }
}