<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
	{{ partial "header.html" . }}
	<main>
		<div class="main__container">

			<section class="posts">
	
				{{ if isset .Data "Term" }}
				<h2 class="section-title">{{ .Data.Term }}</h2>
				{{ else }}
				<h2 class="section-title">{{ .Title }}</h2>
				{{ end }}

				<ul class="posts__filter-buttons">
  
					<li>
						<a href="/posts" class="active button filter-button">Todos</a>
					</li>
				
					{{ $url := .RelPermalink }}
					{{ range $key, $value := .Site.Taxonomies.categories }}
						{{ $categoryUrl := print "/categories/" ($key | urlize) "/" }}
						<li>
							<a
								href={{ $categoryUrl }}
								{{ if eq $categoryUrl $url }}
									class="active button filter-button"
								{{ else }}
									class="button filter-button"
								{{ end }}
							>
								{{ $key | humanize }}
							</a>
						</li>
					{{ end }}
				
				</ul>

				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}

					<article class="post">
						<a href="{{ .RelPermalink }}">
							<figure class="post__icon">
								{{if isset .Params "icon" }}
									<img class="icon" src="{{ index .Params "icon" }}" width="30" height="30" alt="Post Icon">
								{{ else }}
									<img class="icon"  width="30" height="30" src="img/icons/defragment.png" alt="Post Icon">
								{{ end }}
							</figure>
							<div class="post__info">
								<h3>
									{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}
								</h3>
								<span class="date">{{ dateFormat "Jan 2, 2006" .Date }}</span>
							</div>
						</a>
					</article>

				{{- end -}}

			</section>
			{{ partial "paginator" . }}
		</div>
	</main>
		

	{{ partial "footer.html" . }}

</body>

</html>
