<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
	{{ partial "header.html" . }}

	<div class="medium-container">

		<main class="main-content">

			<section class="listing">
	
				<div class="listing__title">
					{{ if isset .Data "Term" }}
					<h2 class="listing-page__title">{{ .Data.Term | humanize}}</h2>
					{{ else }}
					<h2 class="page-title">{{ .Title }}</h2>
					{{ end }}
				</div>
	
				<ul class="listing__posts">
					{{- range .Data.Pages -}}
					{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
					{{- else -}}
					<li class="post">
						<a href="{{ .RelPermalink }}" class="post__link">
							{{if isset .Params "icon" }}<img class="icon" src="{{ index .Params "icon" }}" alt="">
							{{ else }}<img class="icon" src="/img/glasses.svg" alt="">
							{{ end }}
							
							<div class="post__data">
								<h3 class="title">
									{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}
								</h3>
								<div class="date">
									<span class="day">{{ dateFormat "02" .Date }} de </span>
									<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} de {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
								</div>
							</div>
						</a>
					</li>
					{{- end -}}
					{{- end -}}
				</ul>
			</section>
		</main>
	</div>
	
	{{ partial "footer.html" . }}
</body>

</html>
