<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
	{{ partial "header.html" . }}

	<main>
		<div class="main__container">

			<section class="posts">
	
				<div class="posts__title">
					{{ if isset .Data "Term" }}
					<h2 class="listing-page__title">{{ .Data.Term | humanize}}</h2>
					{{ else }}
					<h2 class="page-title">{{ .Title }}</h2>
					{{ end }}
				</div>
	
				<ul class="posts__list">
					{{- range .Data.Pages -}}
					{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
					{{- else -}}
					<li>
						<a href="{{ .RelPermalink }}" class="post__link">
							{{if isset .Params "icon" }}<img class="icon" src="{{ index .Params "icon" }}" width="30" height="30" alt="Post Icon">
							{{ else }}<img class="icon"  width="30" height="30" src="img/icons/defragment.png" alt="Post Icon">
							{{ end }}
							
							<div class="posts__list__item">
								<h3 class="title">
									{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}
								</h3>
								<div class="date">
									<span>{{ dateFormat "Jan 2, 2006" .Date }}</span>
								</div>
							</div>
						</a>
					</li>
					{{- end -}}
					{{- end -}}
				</ul>
			</section>
		</div>
	</main>
	
	{{ partial "footer.html" . }}
</body>

</html>
