<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
	{{ partial "header.html" . }}

	<main>
		<div class="main__container">

			<section class="posts">
	
				{{ if isset .Data "Term" }}
				<h2 class="section-title">{{ .Data.Term }}</h2>
				{{ else }}
				<h2 class="section-title">{{ .Title }}</h2>
				{{ end }}
	
					{{- range .Data.Pages -}}
					{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
					{{- else -}}
					<article class="post {{ range .Params.categories }} {{ . }}  {{ end }}">
						<a href="{{ .RelPermalink }}">
							<figure class="post__icon">
								{{if isset .Params "icon" }}
									<img class="icon" src="{{ index .Params "icon" }}" width="30" height="30" alt="Post Icon">
								{{ else }}
									<img class="icon"  width="30" height="30" src="img/icons/defragment.png" alt="Post Icon">
								{{ end }}
							</figure>
							<div class="post__info">
								<h3>
									{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}
								</h3>
								<span class="date">{{ dateFormat "Jan 2, 2006" .Date }}</span>
							</div>
						</a>
					</article>
					{{- end -}}
					{{- end -}}
			</section>
		</div>
	</main>
	
	{{ partial "footer.html" . }}
</body>

</html>
