<footer>
	<div class="footer__container">
		<ul class="footer__social-links">
      {{ range $index, $key := .Site.Params.Social}}
        <li>
          <a href="{{ $key.url }}" class={{ lower $key.name }} target="_blank" rel="noreferrer">
            {{ $key.name }}
          </a>
        </li>
      {{ end }}
    </ul>
		<div class="footer__linking">
			{{ range $index, $key := .Site.Params.Tools }}
			<a href="{{ $key.url }}" title="{{ $key.title }}" target="_blank" rel="noreferrer">
				<img src="{{ $key.icon }}" alt="{{ $key.name }}" width="30" height="30">
			</a>
			{{ end }}
		</div>
	</div>
</footer>
