<section class="hero">
  <div class="hero__details">
    <h1>{{ replace .Site.Params.GreetingMessage "\n" "<br/>" | safeHTML }}</h1>
    <p>{{ .Site.Params.About }}</p>
    <ul class="hero__social-links">
      {{ range $index, $key := .Site.Params.Social}}
        <li>
          <a href="{{ $key.url }}" class={{ lower $key.name }} target="_blank" rel="noreferrer">
            <i title="{{ $key.name }}" class="hero__social-links__icon {{ $key.icon }}"></i>
            <span class="hero__social-links__name">{{ $key.name }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
  <figure class="hero__img-container">
    <img src="{{ .Site.Params.ProfilePicture }}" width="250" height="250" alt="Foto de Bernardo Ayala">
  </figure>
</section>