<div class="lead">
  <div class="greeting">
    {{ if and (.Site.Params.GreetingMessage) (.Site.Params.ProfilePicture) (.Site.Params.About) }}
    <h1>{{ .Site.Params.GreetingMessage }}</h1>
    <p>{{ .Site.Params.About }}</p>
    <ul class="social-links">
      {{ range $index, $key := .Site.Params.Social}}
        <li><a href="{{ $key.url }}"><i title="{{ $key.name }}" class="social-links__icon {{ $key.icon }} {{ lower $key.name }}"></i></a></li>
      {{ end }}
    </ul>
  </div>
  <div class="profile">
    <img class="responsive-image" src="{{ .Site.Params.ProfilePicture }}" alt="">
  </div>

    {{ else }}

    <h1>Greetings Human</h1>
    <p>This text here says information about me. It's like a small bio.</p>
    <ul class="social-links">
      {{ range $index, $key := .Site.Params.Social}}
        <li><a href="{{ $key.url }}"><i title="{{ $key.name }}" class="social-links__icon {{ $key.icon }} {{ lower $key.name }}"></i></a></li>
      {{ end }}
    </ul>
  </div>
  <div class="profile">
    <img class="responsive-image" src="/img/profilePicture.jpg" alt="">
  </div>
    {{ end }}
</div>