<div class="lead">
  <div class="greeting">
    <h1>{{ .Site.Params.GreetingMessage }}</h1>
    <p>{{ .Site.Params.About }}</p>
    <ul class="social-links">
      {{ range $index, $key := .Site.Params.Social}}
        <li><a href="{{ $key.url }}"><i title="{{ $key.name }}" class="social-links__icon {{ $key.icon }} {{ lower $key.name }}"></i></a></li>
      {{ end }}
    </ul>
  </div>
  <div class="profile">
    <img class="responsive-image" src="{{ .Site.Params.ProfilePicture }}" alt="">
  </div>
</div>