<!DOCTYPE html>
<html lang="{{ .Language }}">
{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<main>
		<div class="main__container">

			{{ partial "hero.html" . }}
	
			<section class="posts">
	
				<div class="posts__title">
					<h2>Posts</h2>
				</div>
	
				<ul class="posts__filter-buttons">
					<li><a {{ if eq "/" .RelPermalink }}class="active filter-button" {{ else }} class="filter-button" {{ end }} href="javascript:void(0)">Todos</a></li>
					{{ $url := .RelPermalink }}
					{{ range $key, $value := .Site.Taxonomies.categories }}
					{{ $categoryUrl := print "/" ($key | urlize) "/" }}
					<li><a {{ if eq $categoryUrl $url }}class="active filter-button" {{ else }} class="filter-button" {{ end }} href="javascript:void(0)">{{ $key | humanize }}</a></li>
					{{ end }}
				</ul>
	
				<ul class="posts__list">
					{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
					<li class="{{ range .Params.categories }} {{ . }}  {{ end }}">
						<a href="{{ .RelPermalink }}">
							{{if isset .Params "icon" }}<img class="icon" src="{{ index .Params "icon" }}" width="30" height="30" alt="Post Icon">
								{{ else }}<img class="icon"  width="30" height="30" src="img/icons/defragment.png" alt="Post Icon">
								{{ end }}
								
								<div class="posts__list__item">
									<h3>
										{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}
									</h3>
									<div class="date">
										<span>{{ dateFormat "Jan 2, 2006" .Date }}</span>
									</div>
								</div>
						</a>
					</li>
					{{ end }}
				</ul>
			</section>
		</div>
	</main>
		
	{{ partial "footer.html" . }}
	<script src="{{ .Site.BaseURL }}js/fiter.js"></script>
</body>
</html>
