//======================================================================
// Posts and pages
//======================================================================
.post {
  &__details {
    margin-bottom: 25px;
    text-align: center;
    &__meta {
      font-size: 1.6rem;
      a {
        color: #111111;
        font-weight: 600;
      }
    }
    &__tags {
      display: flex;
      margin: 25px 0;
      list-style: none;
      a {
        margin-right: 15px;
        padding: 8px;
        border-radius: 4px;
        font-size: 1.6rem;
        background-color: $link-hover-background;
        color:#111111;
      }
    }
  }
  &__content {
    p {
      margin-bottom: 25px;
    }
    h1, h2 {
      margin: 32px 0 24px;
      padding-bottom: 20px;
      border-bottom: 2px solid rgba(0,0,0,.125);
    }
    ul {
      padding-left: 40px;
      margin-bottom: 25px;
    }
  } 
}